:host {
  display: flex;
  height: 3rem;
  align-items: center;
  background-color: #286F94;

  .container {
    width: 90rem;

    .logos {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: flex-start;
      align-items: center;

      & > * {
        left: calc((100vw - 90rem) / 2 + 1rem);
        position: absolute;
        color: white;
        text-decoration: none;
      }
    }
  }
}