:host {
  display: flex;
  height: 3rem;
  align-items: center;
  background-color: #286F94;
  color: white;

  .logos {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

    & > * {
      height: 2.25rem;
      margin-left: 1rem;
    }
  }
}