:host {
  display: block;

  &, .toggle-group, .toggle-group .toggle {
    width: 100%;
  }

  .toggle-group {
    height: 2rem;

    .toggle {
      font-size: 14px;
      font-weight: 500;

      // Force height!
      ::ng-deep .mat-button-toggle-label-content {
        line-height: 2rem;
      }
    }
  }
}
