:host {
  display: block;

  &, mat-sidenav-container {
    width: 100%;
    height: calc(100vh - 6rem);
  }

  mat-sidenav {
    width: 20%;
    height: 100%;
    padding: 0.5rem;
    background-color: var(--background);
    border: none;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

  mat-sidenav-content {
    background-color: white;

    .toggle {
      z-index: 1;
      position: relative;
      top: 3rem;

      button {
        min-width: 1.5rem;
        padding: .25rem;
        height: 3rem;
        border: none;
        background-color: var(--background);
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
          0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        border-radius: 3px;
        outline: none;
        cursor: pointer;

        &.hidden {
          display: none;
        }
      }
    }
  }
}
