.dataset-selector {
  margin-bottom: 0.75rem;
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  padding: .5rem;
}

.map-wrapper, .sidenav-container {
  width: 100%;
  height: calc(100vh - 6rem);
}

mat-sidenav {
  width: 20%;
  height: 100%;
  background-color: #F2F4F6;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;

  p {
    z-index: 1;
  }
}

.w-100 {
  width: 100%;
}

.search-button {
  width: 100%;
  background-color: #286F94;
  color: white;
}