# Schemaspy-generated schema docs
/docs/schema

# Raw Data
/raw-data

# Generated documentation site
/site

# Third party/external library build files
/libs/eba/kmeans
/libs/eba/build/
/lib/eba/build/
/libs/tippecanoe-bin
/libs/tippecanoe
/libs/BatchTree
/libs/CG
/libs/DELG

# Only sample datasets should be committed
/datasets/*
!/datasets/sample
!/datasets/lastfm
!/datasets/google-topics-full
!/datasets/config.example.sh

# BatchTree leavings
/Results.txt
