:host {
  display: flex;
  height: 3rem;
  background-color: #286F94;
  color: white;

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .resources {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
    .contact, .privacy {
      transition: color 0.3s;
    }
  }
}
  