<div class="container">
  <span class="copyright">{{ copyright }}</span>

  <div class="filler"></div>

  <ng-container *ngIf="termsOfService">
    <button mat-button class="tos" disableRipple (click)="openTermsOfService()">Terms of Use</button>
    <div class="divider"></div>
  </ng-container>

  <ng-container *ngIf="privacyPolicy">
    <button mat-button class="privacy" disableRipple (click)="openPrivacyPolicy()">Privacy Policy</button>
    <div class="divider"></div>
  </ng-container>

  <button mat-button class="analytics" disableRipple (click)="openAnalyticsConsent()">Opt In/Out</button>
</div>
