:host {
  display: flex;
  justify-content: center;

  color: var(--primary-text);
  background-color: var(--primary);

  .container {
    display: flex;
    width: 100%;
    height: 3rem;
    max-width: 90rem;
    padding: 0 1rem;
    align-items: center;

    .tos, .privacy {
      &:hover {
        text-decoration: underline;
      }
    }

    .divider {
      height: 1.5rem;
      border-left: 1px solid var(--primary-text);
    }

    .filler {
      flex-grow: 1;
    }
  }
}
