/* You can add global styles to this file, and also import other style files */
@import '~maplibre-gl/dist/maplibre-gl.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Lato", sans-serif; }

body {
  box-sizing: border-box;
  font-size: 1rem;
  color: #424242;
}

* {
  box-sizing: inherit;
}

.maplibregl-ctrl-logo {
  display: none !important;
}

h2 {
  font-size: 3.5rem;
  font-weight: normal;
  color: #616161;
}