/* You can add global styles to this file, and also import other style files */
@import '~maplibre-gl/dist/maplibre-gl.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.maplibregl-ctrl-logo {
  display: none !important;
}
