:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: auto;

  markdown {
    display: block;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
  }

  .banner {
    position: fixed;
    width: 90rem;
    height: 30rem;
    margin: auto;
    padding-top: 3rem;
    object-fit: cover;
  }

  .content {
    background-color: white;
    max-width: 1328px;
    width: 66rem;
    position: relative;
    top: 10rem;
    padding-bottom: 3rem;
    height: calc(100% - 13rem);
    z-index: 1;
    overflow: hidden;
  }

  .visualizer-image {
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    top: -50rem;
    right: 7rem;

    img {
      height: 284px;
      width: 384px;
      border: 1px solid gray;
    }

    .visualizer-open {
      margin-top: 1rem;
      transition: color 0.3s;
      color: var(--primary-text);
      background-color: var(--primary);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
