:host {
  ::ng-deep .maplibregl-zoom-level-display {
    margin-right: 0.875rem;
    font-size: .875rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    align-items: center;
    text-align: center;
    float: right;
    padding-top: .9rem;
    box-shadow: 1px 1px 3px grey;
    margin-bottom: .5rem;
    font-family: ‘Roboto’, sans-serif;
  }

  ::ng-deep .maplibregl-popup-content {
    padding-bottom: 0rem;
  }

  mgl-map {
    height: calc(100% - 3rem);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
}
