body {
    margin: 0;
    padding: 0;
  }
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.popup-label{
  color: white;
  background-color: #424242;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}