.dataset-selector {
  position: absolute;
  margin: 0.5rem;
  z-index: 1000;
}

.map-wrapper {
  width: 100vw;
  height: 100vh;
}

:host {
  display: block;
  height: 100%;
  overflow-y: auto;

  m4s-page-header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .content-container {
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-flow: column;
    max-width: 1328px;
    padding: 4.5rem 4rem;
    align-items: center;
    margin: auto;

    .outlet-wrapper {
      width: 100%;
    }
  }
}