<select class="dataset-selector"
  *ngIf="(this.mapData.datasetDirectory$ | async)!.length > 1"
  (input)="mapDataSwitcherChange($event)">
  <option *ngFor="let dataset of (this.mapData.datasetDirectory$ | async)" [value]="dataset.id">
      {{ dataset.name }}
  </option>
</select>

<div class="map-wrapper">
  <m4s-map
    *ngIf="displayMap"
    [edgeFeatures]="dataset.edges"
    [nodeFeatures]="dataset.nodes"
    [clusterFeatures]="dataset.cluster"
    [boundaryFeatures]="dataset.boundary"
    [edgesConfig]="dataset.edgeConfig"
    [nodesConfig]="dataset.nodeConfig"
  ></m4s-map>
</div>
